{
  "root": true,
  "extends": "eslint:recommended",
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-expressions": 2
  }
}
