{
  "root": true,
  "extends": "eslint:recommended",
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "L": false
  },
  "rules": {
    "no-unused-expressions": 2
  }
}
